
/* Smartphones */
@media (max-width: 600px) {
}

/* Tablets */
@media (max-width: 1500px) {
}

/* Große Bildschirme */
@media (min-width: 1501px) {
}


/* Hintergrund abdunkeln */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup Box */
#popup {
	position: relative;
  background: white;
  padding: 30px;
  border-radius: 5px;
  max-width: 400px;
  width: 90%;
  text-align: left;
  color:#3C424B;
  align-self: center;
}

#popup-content {
	display: flex;
  flex-direction: column;

  width: 400px;        /* Beispiel */
  min-height: 250px;   /* sorgt für „unten“ auch bei wenig Text */
  padding: 20px;
	align-self: center;
}



#closePopup {
	background-color: #eaeffd;
}

.close-btn {
    margin-top: auto;    /* schiebt den Button nach unten */
  align-self: center;  /* horizontal mittig */%;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


		.logo {
			box-shadow: 0 0 2px black;
			margin-bottom: 50px;
			padding-left: 420px;
			
			  display: flex;
			align-items: center;
		}

		
        .container {
            width: 100%;
            max-width: 1000px;
            margin: 0px auto;
            background: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
        }

        h1 {
            font-weight: lighter;
			color: #3C424B;
			
        }

        .form-group {
            margin-bottom: 18px;
			padding-right: 20px;
			background-color: white;
			color: #3C424B;
        }

        input[type="text"]
		{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
        }
			
		/* Sobald Text eingegeben wurde */
			input[type="text"]:not(:placeholder-shown) {
			background-color: #eaeffd;
}

input[type="password"]:not(:placeholder-shown) {
			background-color: #eaeffd;
}



		  .form-group-password {
            margin-bottom: 18px;
			padding-right: 20px;
			color: #3C424B;
			position:relative;
        }

        input[type="password"],
		input [type="text"]
		{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
        }
		
		.toggle-password {
    position: absolute;
    right: -5px;
    top: 22px; /* passt zur Höhe des Labels */
    background: e5e5e5;
    border: 1px solid #cccs;
    cursor: pointer;
    font-size: 18px;
	align-items: center;
}
		.toggle-password img {
    width: 30px;
    height: 31px;
		}
	toggle-password:hover {
            ;
        }
		
		select[class="schule"],
		select[class="system"]
		{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 15px;
        }

        .toggle-row {
            margin: 10px 0;
            color: #7a7676;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .toggle-row span {
            margin-left: 6px;
        }


        .login-btn {
            width: 100%;
            padding: 12px;
            background: #90342d;
            color: white;
            border: none;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer;
			font-weight: bold;
        }

        .login-btn:hover {
            background: #6b2621;
        }

        .forgot {
            text-align: center;
            margin-top: 15px;
            color: #90342d;
            text-decoration: none;
            display: block;
			font-weight: normal;
			font-size: 16px;
        }
		
		.forgot:hover {
			text-decoration: underline;
		}

        .footer {
            position: fixed;
			bottom: 2%;
			left: 30%;
            text-align: center;
            color: #3C424B;
            font-size: 17px;
			font-weight: normal;
			align-items: center;;
			border: none;
        }

        .footer a {
           	color: #90342d;
            text-decoration: none;
            margin: 0 5px;
        }

        .footer a:hover {
            text-decoration: underline;
        }

    .options-btn {
        width: 100%;
        padding: 12px;
		padding-right: 20px;
        background: white;
        color: #3C424B;
        border: 1px solid #ccc;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
		font-weight: bold;

		}

    .options-btn:hover {
        background: #e5e5e5;
    }

    .options-container {
        padding: 12px;
        border: none;
        border-radius: 3px;
        margin-top: 8px;
        background: white;
		color: #3C424B;
    }
	
	
	.footer-handy {
		display: none;
		margin-top: 250px;
		border: none;
	}

	.footer-tablet {
		display: none;
		margin-top: 250px;
		border: none;
	}
	
	
	/* Smartphones */
@media (max-width: 600px) {
	
	#popup {
  padding: 1%;
  border-radius: 2%;
  max-width: 80%;

}

	#popup-content {
  width: 80%;        /* Beispiel */
  min-height: 50%;   /* sorgt für „unten“ auch bei wenig Text */
  padding: 1%;
	align-self: center;
}
	
	
		#closePopup {
	background-color: #red;
	align-self: center;
}

	
	.close-btn {
		align-self: center;
	}
	
	
	.logo {
	width: 100%;
	height: 6%;
    position: fixed;
    top: 0%;
    left: 0%;
	box-shadow: 0 0 2px black;
	}
	
	.logo img {
	position: fixed;
	left: 0%;
	top: 0%;
}

			
	.container {
	width: 80%;
	position: fixed;
	top: 20%;
	left: 5%;
	align-items: center;
		
	}	
	
	.footer {
	display: none;
	}
	
	.footer-handy {
	width: 100%;
	position: fixed;
	bottom: 0%;
	background: white;
	display: block;
    text-align: center;
    color: #3C424B;
    font-size: 17px;
	font-weight: normal;
	align-items: center;
	border: none;
	background: #e6e2e1;
	}
}

/* Tablets */
@media (max-width: 1500px) {
	
	
		.logo {
	width: 100%;
	height: 8%;
    position: fixed;
    top: 0%;
    left: 0%;
	box-shadow: 0 0 2px black;
	}
	
	.logo img {
	position: fixed;
	left: 5%;
	top: 0%;
}

			
	.container {
	width: 90%;
	align-items: center;
	max-width: 1200px;	
	}	
	
	.seite {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal mittig */
}

.container {
    margin-top: 8%; /* Abstand nach unten */
}
	
	
	.footer {
	display: none;
	}
	
	.footer-tablet {
	width: 100%;
	position: fixed;
	bottom: 5%;
	background: white;
	display: block;
    text-align: center;
    color: #3C424B;
    font-size: 17px;
	font-weight: normal;
	align-items: center;
	border: none;
	}
}


